@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-page {
  width: 100vw;
  height: 100vh;
  @include flex;
  background: #444;
  color: #fff;
}
