$main-green: #2ee59d;
$text-color: #fff;
$dark-grey: #444;
$error-color: rgb(255, 0, 0);

@mixin transition {
  transition: 0.5s ease-in;
}

@mixin text-transform($transform) {
  text-transform: $transform;
}

@mixin radius-padding($radius, $padding) {
  border-radius: $radius;
  padding: $padding;
}

.login-form {
  min-width: 400px;
  @include radius-padding(15px, 20px);
  background: $dark-grey;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.4);

  label {
    color: $main-green;
    @include text-transform(capitalize);
  }

  label input[type='text'] {
    position: relative;
    margin-top: 10px;
    font-size: 18px;
    width: 100%;
    border: 2px solid $text-color;
    background: none;
    height: 50px;
    @include radius-padding(10px, 5px 10px);
    color: $text-color;
    outline: none;
    @include transition;
    &:focus {
      @include transition;
      border-color: $main-green;
    }
    &::placeholder {
      color: #ccc;
    }
    &.error,
    &:focus > .error {
      border-color: $error-color;
    }
  }

  label .helper-text {
    height: 25px;
    padding: 5px 5px 0;
    color: $error-color;
    font-size: 14px;
    text-transform: none;
  }

  .login-button {
    height: 50px;
    font-size: 18px;
    letter-spacing: 5px;
    color: $dark-grey;
    border: none;
    @include radius-padding(10px, 10px);
    @include text-transform(uppercase);
    @include transition;
    &:hover {
      cursor: pointer;
      color: $text-color;
      background-color: $main-green;
      box-shadow: 0px 10px 20px rgba(46, 229, 157, 0.4);
      @include transition;
    }
    &:disabled {
      color: inherit;
      opacity: 0.5;
      background: #f0f0f0;
      box-shadow: none;
      cursor: default;
    }
  }
}

@media (max-width: 450px) {
  .login-form {
    width: 90%;
    min-width: 90%;
  }
}
